<!DOCTYPE html>
<html lang="en" class="h-full bg-white">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Create account - Shopeeze</title>
</head>

<body class="h-full">
    {% include './loading.html' %}

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-9 w-auto" src="/static/images/shopeeze-logo.svg" alt="shopeeze-logo">
            <h2 class="mt-8 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create new password
            </h2>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" method="POST">
                {% csrf_token %}

                {% if messages %}
                {% for msg in messages %}

                <div class="text-sky-500 rounded bg-sky-50  px-5 py-3 flex items-center gap-5">
                    <i class='bx bx-info-circle'></i>
                    {{ msg }}

                </div>

                {% endfor %}
                {% endif %}

                {% for fm in frm %}
                <div class="flex flex-col ">
                    {{fm.label_tag}}
                    <span class="text-red-500 my-2">{{ fm.errors|striptags }}</span>

                    <div class="">
                        {{fm}}
                    </div>
                </div>
                {% endfor %}

                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Change Password
                    </button>
                </div>
            </form>


            <p class="mt-8 text-center text-gray-500">
                Don't want to change password?
                <a href="/" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Go back</a>
            </p>
        </div>
    </div>
</body>

</html>